Checks: '*,
         -abseil*,
         -fuchsia*,
         -google*,
         -llvmlibc*'

CheckOptions:
    - key: readability-function-cognitive-complexity.IgnoreMacros
      value: 1
    - key: readability-function-cognitive-complexity.Threshold
      value: 500